* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --screen-back-: #212b41;
    --screen-clr-: #0db387;
    --btn-wrapper-: #2e3951;
    --btn-clr-: #18d4a3;
    --btn-back-: #212b41;
    --btn-back-active-: #1b2438;
    --btn-simp-: #95a69f;
    --active-simp-: #ffffff1f;
    --btn-theme-: #d9faf3;
}
.lightTheme {
    --screen-back-: #d9faf3;
    --screen-clr-: #373e47;
    --btn-wrapper-: #ffffff;
    --btn-clr-: #373e47;
    --btn-back-: #d9faf3;
    --btn-back-active-: #a8f7e6;
    --btn-simp-: #373e47;
    --active-simp-: #0000001f;
    --btn-theme-: #212b41;
    font-weight: 500;
}
body {
    background: #8b9296;
    background: -webkit-linear-gradient(45deg, #2c3e50, #8b9296);
    background: linear-gradient(45deg, #2c3e50, #8b9296);

}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
.calc {
    width: 90%;
    max-width: 400px;
    border-radius: 1rem;
    overflow: hidden;
}
.screen input {
    width: 100%;
    border: none;
    outline: none;
    padding: 6rem .75rem .5rem 1.25rem;
    font-size: 2.5rem;
    background-color: var(--screen-back-);
    color: var(--screen-clr-);
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.buttonWrapper {
    width: 100%;
    background-color: var(--btn-wrapper-);
    padding-bottom: 1rem;
}
.buttonRow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1rem;
    color: var(--btn-simp-);
}
.large {
    font-size: 1rem !important;
}
.buttonRow div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.25rem;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all ease-in 200ms;
}
.buttonRow div:not(.cornerBtn):active {
    background-color: var(--active-simp-);
    border-radius: .6rem;
}
.cornerBtn:not(.equals):active {
    border-radius: .6rem;
    background-color: var(--btn-back-active-);
}
.cornerBtn {
    color: var(--btn-clr-);
    background-color: var(--btn-back-);
}
.equals {
    color: var(--btn-back-);
    background-color: #18d4a3;
}
.equals:active{
    border-radius: .6rem;
}
.btnTheme {
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
}
.fa-solid {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--btn-theme-);
}